*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.container{
    width: 1200px;
    margin: 0 auto;
    /* pura ka pura center me rakhneke liya humne margin:0 auto kia */
}


/* #########################---hero page---########################### */
.navbar{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    /* justify-content: center;...no need pf this!!! */
    justify-content: space-between;
    align-items: center;

    padding-top:1rem;
}

.logo{
    width: 50px;
    height: 50px;
}

.logo-container{
    display: flex;
    align-items: center;
}

.logo-text{
    margin-left: -0.2rem;
    font-size: 20px;
}

.nav-item{
    display: flex;
    gap:2rem;
    padding: 0 2rem;
}

.nav-item div{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.nav-item div a{
    color: black;
}

a{
    text-decoration: none;
}

.nav-item div:hover{
    font-weight: bold;
    transition:1s;
    /* cursor: pointer;,,,,here also we can write it */
}

.hero-section{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;

    gap:5rem;
    margin:4rem auto;
    padding:0 1rem;
    padding-bottom:8rem;
}

.faded-text{
    /* position: absolute; */
    user-select:none;
    font-size: 6em;
    color: rgb(231,231,231);

    bottom: -20%;
    left: 0%;
    font-weight: bold;
    transition: all 3s;
}

.hero-section-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:2rem;
}

.hero-section-heading{
    font-size: 35px;
    color: #343d68;
    font-weight: 500;
}

.role{
    color:#4e45d5;
    font-weight:800;
}

.hero-section-subheading{
    font-size: 45px;
    line-height: 45px;
}

.hero-section-description{
    margin-top: 1rem;
    width: 70%;
    font-weight: 500;
}

:root{
    --bgOrange: rgb(220, 53, 7);
}
.btn-pink{
    background-color: var(--bgOrange);
    width: fit-content;
    color: white;
    padding:0.8rem 2.3rem;
    box-shadow: 5px 5px 7px 0px #0000003f;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: 500;
    border: solid 3px transparent;
    position: relative;
    z-index: 1;
}
.btn-pink::before{
    content:"";
    position: absolute;
    background-color:#fff;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:-1;
    transform:scaleX(0);
    transform-origin: left;
    transition: all 0.8s;
}
.btn-pink:hover::before{
    transform: scaleX(1);
}
.btn-pink:hover{
    border:solid 3px var(--bgOrange);
    color: black;
}

.hero-section-right{
    position: relative;
}

/* sizing of photos i have to do now */
#red-circle-dots{
    height: 80px;
    width: 80px;
}
#circle1{
    height: 20px;
    width: 20px;
}
#zigzag{
    height: 100px;
    width: 35px;
}
#cube{
    height: 40px;
    width: 40px;
}
#plus{
    height:90px;
    width: 90px;
}
#businessman{
    height:250px;
    width: 250px;
}
/* till now i have set there size,,,now on again general setting as like sir */

.absolute{
    position: absolute;
    /* transform: translateX(-60%) ; */
}

.userimage{
    padding: 2.5rem;
    filter: grayscale(1);
    transition: all 1s;
    animation: scaleImage 5s linear infinite;
}

.userimage img{
    z-index: -9;
}

@keyframes scaleImage{
    0%{
        transform: scale(1);
        filter: grayscale(0);
        box-shadow: 3px 3px 10px black;
    }
    50%{
        transform: scale(1.1);
        filter: grayscale(0.6); 
        box-shadow: 3px 3px 10px rgb(251, 250, 250);
    }
    100%{
        transform: scale(1);
        filter: grayscale(0);
        box-shadow: 3px 3px 10px black;
    }
}

.icon-dots{
    z-index: 9;
    bottom:-1rem;
    right: -1rem;
    animation-name: dotsAnimation;
    animation-duration:5s;
    animation-iteration-count: infinite;
}

@keyframes dotsAnimation {
    0%{
       transform: translateY(0px);
    }
    50%{
       transform: translateY(-15px);
    }
    100%{
        transform: translateY(0px);
    }
}

.icon-cube{
    z-index: 9;
    top:1em;
    right: 0rem;
    animation-name:cubeRotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes cubeRotate {
    0%{
        transform:rotateY(0deg) translateY(0px);
    }
    50%{
        transform:rotateY(180deg) translateY(-12px) ;
    }
    100%{
        transform:rotateY(360deg) translateY(0px);
    }
}

.icon-circle1{
    z-index:9;
    left: 0;
    bottom: 0;
    animation-name: shakeEffect;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes shakeEffect {
    0%{
       left: 0;
       bottom:0;
    }
    50%{
        left:8%;
        bottom: 10%;
    }
    100%{
        left: 0;
        bottom:0;
    }
}

.icon-zigzag{
    z-index: 9;
    top:1.5rem;
    left: -0.3em;
    animation:zigzagAnimation 5s ease-in infinite;
}

@keyframes zigzagAnimation {
    0%{
        left:0;
        top: 10%;
    }
    50%{
        left: 8%;
        top:0;
    }
    100%{
        left:0;
        top: 10%;
    }
}

.icon-plus{
    z-index: 9;
    top:-3rem;
    left: 50%;
    animation: shakeEffectPlus 5s ease-in infinite;
}

@keyframes shakeEffectPlus {
    50%{
        top:0;
        left:48%;
    }
}

/* ######################---project section---######################## */

.project-section{
    background-color: rgb(231,231,231);
    margin-top:4rem;
}

.page-header{
    color:var(--bgOrange);
    font-size: 90px;
    text-align:center;
    padding-top: 30px;
}

.project-container{
    max-width: 1200px;
    margin:0 auto;
    padding:3rem 0;

    display: flex;
    flex-direction: column;
    gap:120px;
}

.project-card{
    width:80%;
    height:550px;
    background-image: url(./images/project-section/project1.jpg);
    background-size: cover;
    /* background-repeat: no-repeat; */
    position: relative;
    box-shadow: 0px 0px 40px #1f1f1f;
}

.project-card::after{
    content:"";
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1f1f1f9a;
    z-index: 0;
    /* transform: scaleX(1); */
}

.project-card::before{
    content: "";
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: linear-gradient(45deg,#343d68,#343d68be,#343d687c);
    transform:scaleX(0);
    transform-origin: left;
    transition: all 0.4s;
    z-index: 1;
}

.project-card:hover::before{
    transform: scaleX(1);
}

.project-number{
    position: absolute;
    font-size: 200px;
    font-weight: 600;
    color:white;
    z-index:1;
    display: none;
}

.project-card:hover .project-number{
    display: block;
}

.project-number-right{
    right:-40px;
    top:-45px;
    /* opacity: 0; */
}

.project-number-left{
    left:-40px;
    top:-45px;
}

/* .project-number-right:hover{
    opacity: 1;
} */

.project-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    color:white;
    padding: 2em;
    bottom: 20%;
    z-index:5;
    gap:1em;
    transition:all 0.4s;
}

.project-content-left{
    left:10%;
}

.project-content-right{
    right: 10%;
}

/* icons ka placing */
.project-skill-container{
    width:80%;
    display: flex;
    gap:10px;
    flex-wrap:wrap;

}

/* icons ka sizing */
.project-skill{
    width:40px;
}

/* heading and subheading  ka font fixing */
.proj-heading{
    font-size: 50px;
    font-weight: bold;
    line-height: 3rem;
}

.proj-sub-heading{
    width: 70%;
    font-size: 16px;
    font-style: italic;
}

/* jo niche me link wale btn the unka fixing */
.btn-grp{
    display:flex;
    gap:0.9rem;
    align-items: center;
}

/* botton ke border ko hatane ke lia */
.btn-project:hover{
    border: none;
}

.icon{
    cursor:pointer;
    color: white;
    font-size: 35px;
    transition: 0.4s;
}

.project-card:hover .project-content{
    transform: scale(1.1);
}

/* ab sabhi me customize background image lagega in each projects 1,2,3,4 */

#project1{
    background-image: url(./images/project-section/proj.png);
}
#project2{
    margin-left: 120px;
    background-image: url(./images/project-section/proj1.png);
}
#project3{
    background-image: url(./images/project-section/proj2.png);
}


/*#########################---media query for project section---########################### */

@media(max-width:1300px){
    .page-header{
        color:var(--bgOrange);
        font-size: 40px;
        text-align:center;
        padding-top: 30px;
    }

    .project-container{
        padding: 5px;
        margin: 10px;
        gap: 60px;
    }

    .project-card{
        width: 100%;
        height: 300px;
    }

    .project-card{
        background-size: cover;
        background-position: center;
    }

    .project-content{
        scale: 0.5;
        bottom: 0;
        left:0;
        right: 0;
        top: 0;
    }

    .project-content-left{
        left:0;
    }

    .project-heading{
        font-size: 40px;
        width: 100%;
    }

    .project-sub-heading{
        width: 100%;
    }

    #project2{
        margin-left: 0;
    }

    #project4{
        margin-left: 0;
    }

    .project-skill-container{
        width: 100%;
    }

    .project-skill{
        width: 35px;
    }

    /* .project-card:hover .project-number{
        display: none;
    } */

    .project-card:hover .project-number{
        scale: 0.55;
    }

}

/* ###################---skills section---#################### */

.skills-container{
    position:relative;
    display:flex;
    padding: 5rem;
    margin: 10rem auto;
    gap:30px;
}

.skill-container-left{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.skill-container-right{
    display:flex;
    flex-wrap:wrap;
    width: 50%;
    position: relative;
    gap:2rem;
    justify-content: center;
}

/* fadded text */
.skill-fade-text{
    position: absolute;
    font-size: 9rem;
    font-weight: bold;
    color: rgb(231,231,231);
    bottom: -26.5%;
    right: -9%;
    user-select: none;
    /* overflow-y: hidden; */
}

.blob-style{
    position: absolute;
    top:30%;
    left:20%;
    z-index: -5;
    /* transform: translate(-50%,-50%); */
    animation: blobAnimate 3s linear infinite;
}

@keyframes blobAnimate{
    50%{
        top: 40%;
        left: 40%;
    }
}

.Skills-logo{
    width: 90px;
    transition: all 0.5s;
}

.Skills-logo:hover{
    transform: scale(1.2);
}

.skill-heading{
    font-size: 50px;
    font-style: bold;
    color: var(--bgOrange);
    line-height: 50px;
}

.casp{
    font-size: 90px;
}

.skill-subHeading{
    margin-top: 1rem;
    width: 85%;
    text-align: justify;
}
/* 
.skill-subHeading  p{
    margin: 30px o;
} */

/* ######################---contactus container---####################### */

.contactus-container{
    width:100%;
    background-color: rgb(231,231,231);
}

.contactus-heading{
    font-size: 5em;
    color: var(--bgOrange);
    padding-top: 2rem;
}

.contactus-subheading{
    font-size: 2rem;
    color: #343d68aa;
    text-transform: capitalize;
}

.contactus-form-container{
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 70%;
    margin: 2rem 5rem;
}

.formfield-container{
    width: 100%;
}

.formfield{
    width: 100%;
    height: 42px;
    padding: 0 2rem;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #1f1f1f;
    font-weight: 500;
    border: none;
    margin-top: 27px;
}

.formfield-textarea{
    height: 15rem;
    padding-top: 1rem;
}

#submit-btn{
    border: none;
    font-size: 1.4rem;
    margin:1rem 0;
}

#submit-btn:hover{
    scale:0.9;
}

.submit-icon{
    padding: 0 1rem;
    font-size: 1.5rem;
}


/* ####################---footer---#################### */

footer{
    position: relative;
    margin-top: -1px;
    background-color: #343d68;
    padding: 5rem;
}

.footer-wrapper{
    display: flex;
    gap: 1rem;
    padding: 1.2rem;
    justify-content: space-between;
    align-items: center;
}


.footer-faded-text{
    position: absolute;
    user-select: none;
    font-size:4rem;
    color:#535c87;
     
    font-weight: bold;
    bottom: 0%;
    left: 0%;
}


.link-wrapper{
    display: flex;
    gap:2rem;
    cursor: pointer;
    padding-left: 8rem;
}

.link-wrapper div a{
    color:white;
    text-decoration: none;
}

/* .link-wrapper div:hover{
    font-weight: bold;
    color: var(--bgOrange);
    transition: 1s;
} */

.link-wrapper div a:hover{
    color: var(--bgOrange);
}


.icon-wrapper{
    color: white;
    display: flex;
    gap:1rem;
    font-size: 1.8rem;
    cursor: pointer;
    /* padding-right: 3rem; */
}

/* .icon-wrapper div:hover{
    color: var(--bgOrange);
} */


/* ############################---media querry for navbar and hero section---######################### */

@media(max-width:1200px){
    .container{
        /* display: flex;
        flex-direction: column; */
        /* text-align: center; */
        width: 100%;
    }
    .navbar{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
 
    .hero-section{
        display: flex;
        flex-direction: column;
    }

    .skills-container{
        display: flex;
        flex-direction: column;
    }


    /* $$$$$$$$$$$$$$ attempt was to manage right side of skills as it is but it wont work$$$$$$$$$$$$$$ */

    /* .Skills-logo{
        scale: 0.5;
        left: 0;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
    }

    .skill-container-right{
        width: 100%;
        height: 300px;
        display: flex;
        flex-wrap: wrap;
        gap:0.1rem;
        background-position: center;
    } */

    /* .skill-container-left{
       
    } */

    /* .contactus-container{
        width:100%;
        background-color: rgb(231,231,231);
        top:50%;
    } */

    /* .contactus-container{
        display: flex;
        flex-direction: column;
    } */
     /* ye toh pehle se hi flex column me tha na  */

     
}
@media(max-width: 260px) {
    .nav-item {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

}


@media (max-width:700px) {

    .footer-wrapper{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1.2rem;
        /* justify-content: space-between;
        align-items: center; */
        text-align: center;
    }

    .link-wrapper{
        padding-left: 0;
    }

}

/* @media (max-width:700px) {
    .absolute faded-text{
       bottom: 100%;
    }
} */